@media (max-width: 930px) {
    #page-home {
        background-position-x: 90vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1440px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home {
        background-position-y: 120px;
    }
}